.table-product{
    border-collapse: collapse;
}

.table-product thead tr{
    background-color: dodgerblue;
    color: white;
    padding: 1rem 2rem;
}

.table-product th, .table-product td{
    border: 1px solid skyblue;
}

.table-product tr th{
    padding: 1rem 2rem;
}