.container {
    display: flex;
}

.product-form {
    padding: 2rem;
    border: 3px solid salmon;
}
.product-form > div {
    margin-bottom: 1rem;
}

.table-product {
    border-collapse: collapse;
}

.table-product thead tr {
    background-color: dodgerblue;
    color: white;
    
}
.table-product th, .table-product td {
    border: 1px solid skyblue;
}

.table-product tr td:not(:first-child) {
    padding: 1rem;
}
.table-product tbody tr:nth-child(odd) {
    background-color: rgb(236, 250, 255);
}
.table-product tr th {
    padding: 1rem 2rem;
}
.product__img {
    width: 70px;
    object-fit: cover;
    height: 70px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.product__desc {
    width: 30%;
}
.product__price {
    font-weight: bold;
}
.product__others, .product__actions {
    vertical-align: center;
    text-align: center;
    font-size: 1.5rem;
}

